<div class="contact-main-item">
	<div class="contact-item-head">
		<div class="contact-head-1">02/</div>
		<div class="contact-head-2">SEND US<br>A MESSAGE</div>
	</div>
	<div class="contact-item-form">
		<div class="contact-form-item">
			<input type="text" placeholder="YOUR NAME" size="50px" />
		</div>
		<div class="contact-form-item">
			<input type="text" placeholder="EMAIL ADDRESS" size="50px" />
		</div>
		<div class="contact-form-item">
			<input type="text" placeholder="TELEPHONE NUMBER" size="50px" />
		</div>
		<div class="contact-form-item">
			<input type="text" placeholder="YOUR MESSAGE" size="50px" />
		</div>
		<button class="contact-form-button">SEND MESSAGE</button>
	</div>
</div>
