<main id="main"><div class="main-sub">
		<a id="btn-service" class="tile tile5"><i class="fa fa-cogs" aria-hidden="true"></i><br>Service</a>
		<a class="tile tile4"><br>demo</a>
		<a class="tile tile3"><br>demo</a>
		<a id="btn-contact" class="tile tile2"><i class="fa fa-phone" aria-hidden="true"></i><br>Contact</a>
		<a id="btn-work" class="tile tile1"><i class="fa fa-briefcase" aria-hidden="true"></i><br>Works</a>
	</div>
	<div class="main-sub">
		<a class="tile tile6"><br>demo</a>
		<a id="btn-about" class="tile tile7"><i class="fa fa-info-circle" aria-hidden="true"></i><br>About</a>
	</div> </main>
