<header>
	<div class="header-logo">
		<div class="logo-img"><img src="img/btn6.jpg" alt="olive_logo" height="90px" width="60px"></div>
		<div class="logo-name">Olive</div>
	</div>
	<div class="header-social">
		<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
	</div>
</header>
<div id="foo"></div>
